---
import { ArrowRight } from 'lucide-react'
import Marquee from './Marque.astro'
---

<section
	id="about"
	class="xs:px-6 relative mx-auto max-w-6xl px-4 pb-16 sm:px-8 md:pt-[3rem] lg:px-0"
>
	<h3
		class="text-primary my-12 ml-2 inline-flex w-full items-center text-2xl font-semibold opacity-85 sm:ml-0 md:text-3xl"
	>
		<span class="text-muted-foreground pr-3"> 02.</span>
		A little more about me
		<span class="bg-muted mt-1 ml-[0.2em] h-0.5 grow"></span>
	</h3>

	<div class="bento *:text-primary *:overflow-clip *:rounded-xl *:border">
		<article class="gradient-firt flex flex-col justify-center gap-0 p-4 md:gap-4 md:pt-8">
			<header class="size-10 overflow-hidden rounded-full"><img src="/avatar.svg" alt="" /></header>
			<main class="text-3xl md:text-5xl">
				Hi, I'm <b>Marlon</b>. <span class="text-primary-foreground font-medium">
					I build cool websites like this one.
				</span>
			</main>
			<a
				href="mailto:marlonsuyuc@gmail.com"
				rel="noreferrer"
				class="repo-btn mt-2 inline-flex w-fit items-center gap-2 px-4 py-3 hover:opacity-80 md:mt-0"
			>
				Contact me
				<ArrowRight className="text-primary size-6" />
			</a>
		</article>

		<article class="gradient-second py-3">
			<header class="text-foreground/90 px-4 text-xl">My ToolBox</header>
			<p class="flex flex-col gap-2 px-4">Explore the tecnologies and tools i use</p>
			<Marquee />
		</article>

		<article class="gradient-thrird flex flex-col items-center justify-center gap-4 p-6 md:p-8">
			<span class="flag text-3xl font-bold">Guatemala</span>
		</article>

		<article class="gradient-fourth p-4">
			<main class="text-foreground/85 flex h-full items-center justify-center text-lg text-pretty">
				My passion is building cool stuff. I build primarily with React, Astro, Tailwind CSS and
				Prisma. I love this stack so much that I even built a website about it.
			</main>
		</article>
	</div>
</section>

<style>
	.flag {
		background: linear-gradient(to right, blue 37%, white 36% 73%, blue 70%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		font-size: 48px;
	}

	.repo-btn {
		border: 1px solid hsla(0, 0%, 100%, 0.7);
		border-radius: 6px;
		background: rgba(249, 250, 251, 0.2);
		color: #fff;
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 24px;
		letter-spacing: -0.3px;
	}

	.bento {
		display: grid;
		grid-template-areas:
			'one one one one'
			'two two two two'
			'four four four four'
			'three three three three';
		gap: 1rem;
	}

	@media (width > 640px) {
		.bento {
			grid-template-areas:
				'one one four four'
				'two two three three';
		}
	}

	@media (width > 868px) {
		.bento {
			grid-template-areas:
				'one one two three'
				'one one four four';
		}
	}

	.gradient-firt {
		grid-area: one;
		background: linear-gradient(210deg, #a68ef6 0%, #6e63f3 100%);

		overflow: hidden;
		&:hover {
			transform: translateY(-0.1rem);
			transition: 0.2s;
		}
	}
	.gradient-second {
		grid-area: two;

		overflow: hidden;
		&:hover {
			transform: translateY(-0.1rem);
			transition: 0.2s;
		}
	}
	.gradient-thrird {
		grid-area: three;
		background: transparent;
		overflow: hidden;
		&:hover {
			transform: translateY(-0.1rem);
			transition: 0.2s;
		}
	}

	.gradient-fourth {
		grid-area: four;
		box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
		backdrop-filter: blur(2px);
		-webkit-backdrop-filter: blur(2px);
		border-radius: 10px;
		overflow: hidden;
		&:hover {
			transform: translateY(-0.1rem);
			transition: 0.2s;
		}
	}
</style>
