---

---

<section
	id="contact"
	class="xs:px-6 mx-auto max-w-screen-lg px-4 pb-16 sm:px-8 md:pt-[3rem] lg:px-0"
>
	<h3
		class="my-12 ml-2 inline-flex w-full items-center text-2xl font-semibold text-primary opacity-85 sm:ml-0 md:text-3xl"
	>
		<span class="pr-3 text-muted-foreground"> 03.</span>
		Send me a message
		<span class="ml-[0.2em] mt-1 h-0.5 grow bg-muted"></span>
	</h3>
</section>
