---
import Formulario from './formulario'
---

<section
	id="contact"
	class="xs:px-6 mx-auto max-w-6xl px-4 pt-20 sm:px-8 md:pt-[3rem] md:pb-[10rem] lg:px-0"
>
	<h3
		class="text-primary my-12 ml-2 inline-flex w-full items-center text-2xl font-semibold opacity-85 sm:ml-0 md:text-3xl"
	>
		<span class="text-muted-foreground pr-3"> 03.</span>
		Send me a message
		<span class="bg-muted mt-1 ml-[0.2em] h-0.5 grow"></span>
	</h3>

	<div class="relative isolate">
		<div
			class="absolute inset-x-0 top-[-10rem] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[-20rem]"
			aria-hidden="true"
		>
			<div
				class="relative left-1/2 -z-10 aspect-1155/678 w-[36.125rem] max-w-none -translate-x-1/2 rotate-[30deg] bg-linear-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-40rem)] sm:w-[72.1875rem]"
				style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
			>
			</div>
		</div>

		<div class="grid grid-cols-1 md:grid-cols-2">
			<section class="content-center border-y-zinc-950 pb-10 md:border-r md:px-4">
				<h3 class="text-foreground mb-3 text-3xl font-semibold md:text-5xl">What Do You Think?</h3>
				<p class="text-foreground/70 text-xl font-light">
					Have feedback? Maybe some questions? <br /> Whatever it is, i'd love to hear from you.
				</p>
			</section>
			<section class="md:px-4">
				<Formulario client:load />
			</section>
		</div>
	</div>
</section>

<style is:global>
	.gradient-firt {
		grid-area: one;
		background: linear-gradient(210deg, #a68ef6 0%, #6e63f3 100%);
	}
	.btndisable {
		pointer-events: none;
		opacity: 0.3;
	}

	.loader {
		display: none;
		border: 3px solid #f3f3f3;
		border-top: 3px solid transparent;
		border-radius: 50%;
		animation: spin 1s linear infinite;
		margin-right: 8px;
	}
	.loader.show {
		display: inline-block;
	}
	@keyframes spin {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}
</style>
