<footer class="pb-8 pt-10 text-center text-sm text-foreground md:text-lg">
	Built by <span class="font-extrabold text-indigo-600">Marlon-S</span> Using <span
		class="text-indigo-500"
	>
		<a href="https://astro.build/" target="_blank">Astro</a>
		<span class="text-foreground">and</span>
		<a href="https://tailwindcss.com/" target="_blank">TailwindCSS</a>
	</span>
</footer>
