---
import { FolderCode, Mail, User } from 'lucide-react'
import { DrawerDemo } from './render-Drawer'

const pages = [
	{ label: 'Projects', href: '#projects', icon: FolderCode },
	{ label: 'About', href: '#about', icon: User },
	{ label: 'Contact', href: '#contact', icon: Mail }
]

const pathname = Astro.url.pathname
console.log('🚀 ~ pathname:', pathname)
---

<header class="fixed top-0 z-50 mx-auto hidden h-16 w-full text-center sm:flex lg:h-20">
	<nav
		class="xs:px-6 h-h-full mx-auto flex w-full max-w-6xl items-center justify-between px-4 sm:px-8 lg:px-0"
	>
		<div class="flex items-center gap-10">
			{
				pages.map(({ label, href, icon: Icon }) => (
					<a
						href={href}
						class="nav-link flex cursor-pointer items-center gap-[6px] font-medium"
						aria-current="false"
					>
						<Icon className="icon size-[18px]" />
						{label}
					</a>
				))
			}
		</div>
	</nav>
</header>

<header class="fixed top-0 z-50 w-full bg-transparent px-4 py-2 sm:hidden">
	<DrawerDemo client:load />
</header>

<style>
	header {
		animation: header-blur-scroll linear both;
		animation-timeline: scroll();
		animation-range: 0 250px;
	}
	@keyframes header-blur-scroll {
		to {
			background: black;
		}
	}

	nav a.nav-link {
		opacity: 0.9;
		color: rgba(255, 255, 255, 0.9);
	}

	nav a.nav-link.active {
		opacity: 1;
		color: white;
	}
</style>

<script>
	const sections = document.querySelectorAll('section')
	const navLinks = document.querySelectorAll('.nav-link')

	const observerOptions = {
		threshold: 0.1,
		rootMargin: '0px 0px -80% 0px'
	}

	const observer = new IntersectionObserver((entries) => {
		entries.forEach((entry) => {
			if (entry.isIntersecting) {
				navLinks.forEach((link) => {
					link.classList.remove('active')
					const href = link.getAttribute('href')
					if (href === `#${entry.target.id}`) {
						link.classList.add('active')
					}
				})
			}
		})
	}, observerOptions)

	sections.forEach((section) => observer.observe(section))
</script>
