---
import { FolderCode, Mail, User } from 'lucide-react'
import { DrawerDemo } from './render-Drawer'

const pages = [
	{ label: 'Proyects', href: '#proyects', icon: FolderCode },
	{ label: 'About', href: '#about', icon: User },
	{ label: 'Contact', href: '#contact', icon: Mail }
].map((page) => ({
	...page,
	active: Astro.url.pathname === page.href
}))
---

<header class="fixed top-0 z-50 mx-auto hidden h-16 w-full text-center sm:flex lg:h-20">
	<nav
		class="xs:px-6 h-h-full mx-auto flex w-full max-w-6xl items-center justify-between px-4 sm:px-8 lg:px-0"
	>
		<div class="flex items-center gap-10">
			{
				pages.map(({ label, href, active, icon: Icon }) => (
					<a
						href={href}
						class:list={[
							'flex cursor-pointer items-center gap-[6px] font-medium hover:text-foreground/80',
							{ 'text-foreground/80': active },
							{ 'text-foreground/95': !active }
						]}
					>
						<Icon className="size-[18px]" />
						{label}
					</a>
				))
			}
		</div>
	</nav>
</header>

<header class="px-4 py-2 sm:hidden">
	<DrawerDemo client:load />
</header>

<style>
	header {
		background: transparent;
		animation: header-blur-scroll 0.3s linear both;
		animation-timeline: scroll();
		animation-range: 0 250px;
		border-bottom: 1px solid transparent;
	}

	@keyframes header-blur-scroll {
		0% {
			backdrop-filter: blur(0px);
			background: transparent;
		}

		100% {
			backdrop-filter: blur(10px);
			background: rgba(0, 0, 0, 0.5);
			padding-bottom: var(--spacing-6);
			border-bottom-color: black;
		}
	}

	nav a.active {
		color: gray;
	}
</style>

<script>
	let secctions = document.querySelectorAll('section')
	const links = document.querySelectorAll('nav a')
	window.onscroll = () => {
		secctions.forEach((sec) => {
			let top = window.scrollY
			let offset = sec.offsetTop
			let height = sec.offsetHeight
			let id = sec.getAttribute('id')
			if (top >= offset && top < offset + height) {
				links.forEach((link) => {
					link.classList.remove('active')
					document.querySelector('a[href*=' + id + ']')?.classList.add('active')
				})
			}
		})
	}
</script>
