---
import { Github, Mail, Linkedin } from 'lucide-react'
import { TooltipItem } from '@/components/ToolboxItem'
---

<section class="xs:px-6 mx-auto max-w-6xl px-4 pt-24 sm:px-8 md:pt-48 lg:px-0">
	<div class="flex flex-col-reverse justify-between sm:flex-row sm:gap-4 md:gap-8">
		<div class="flex flex-col gap-0 sm:gap-2 md:gap-4">
			<h1
				class="h-fit max-w-[20ch] text-balance text-3xl font-extrabold text-white/80 sm:text-4xl md:text-5xl md:tracking-wide lg:max-w-prose lg:text-6xl"
			>
				Hi, I'm <strong> Marlon Suyuc </strong>
			</h1>
			<p
				class="pb-4 text-2xl font-semibold text-foreground/80 sm:text-3xl md:text-5xl md:tracking-wide"
			>
				I'm <span class="text-yellow-500">Web</span>
				Developer
			</p>
		</div>

		<!-- <div
			class="-mt-2 mb-6 mr-10 aspect-square size-24 overflow-clip rounded-full object-cover shadow-[0px_0px_50px_-5px_rgba(204,204,204,0.41)] sm:mb-0 md:order-1 md:-mt-4 md:size-32 lg:-mt-2 lg:size-40 2xl:-mt-0 [@media(width>=37rem)]:mr-14"
		>
			<img src="/img-profile.png" alt="Imagen perfil" />
		</div> -->
	</div>

	<p class="max-w-[58ch] text-pretty text-white/80 sm:text-xl md:mt-0 md:text-2xl">
		I love writing code that takes things next level creating performant websites, <b>automated</b> building
		my own <b>dev-tools</b>, and creating stunning user-experiences that makes you feel
		<span class="text-yellow-500"> WOW!. </span>
		Currently, I'm learning about <b>Astro</b>
	</p>

	<!-- Social -->
	<section class="flex justify-center gap-4 pt-6 md:justify-start md:pt-4">
		<TooltipItem content="Linkedin" client:load>
			<a href="https://www.linkedin.com/in/marlon-suyuc/" target="_blank" rel="noreferrer">
				<Linkedin className="size-9" />
			</a>
		</TooltipItem>
		<TooltipItem content="GitHub" client:load>
			<a href="https://github.com/M-Suyuc/" rel="noreferrer" target="_blank">
				<Github className="size-9" />
			</a>
		</TooltipItem>
		<TooltipItem content="Email" client:load>
			<a href="mailto:marlonsuyuc@gmail.com" rel="noreferrer">
				<Mail className="size-9" />
			</a>
		</TooltipItem>
	</section>
</section>

<style>
	strong {
		animation: textAnimate 5s linear infinite;
		background-image: linear-gradient(45deg, #7028e4, #ee95d5, #7028e4);
		background-size: 200%;
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;
	}

	@keyframes textAnimate {
		0% {
			background-position: 0;
		}
		100% {
			background-position: 200%;
		}
	}
</style>
