---
import { Github, Mail, Linkedin } from 'lucide-react'
import { TooltipItem } from '@/components/ToolboxItem'
---

<section
	class="xs:px-6 mx-auto flex max-w-6xl flex-col-reverse gap-10 px-4 py-24 sm:px-8 md:flex-row md:pt-48 lg:px-0"
>
	<div class="flex flex-col justify-between">
		<div class="flex flex-col gap-0 sm:gap-2 md:gap-4">
			<h1
				class="h-fit max-w-[20ch] text-balance text-3xl font-extrabold text-white/80 sm:text-4xl md:text-5xl md:tracking-wide lg:max-w-prose lg:text-6xl"
			>
				Hi, I'm <strong class=""> Marlon Suyuc </strong>
			</h1>
			<p
				class="pb-4 text-2xl font-semibold text-foreground/80 sm:text-3xl md:text-5xl md:tracking-wide"
			>
				<span class="text-amber-500">Web</span>
				Developer
			</p>
		</div>

		<div>
			<p class="w-full text-pretty text-white/80 sm:text-xl md:mt-0 md:text-2xl">
				I love writing code that takes things next level creating performant websites, <b
					>automated</b
				> building my own <b>dev-tools</b>, and creating stunning user-experiences that makes you
				feel
				<span class="text-amber-500"> WOW!. </span>
				Currently, I'm learning about <b class="text-[#dd262c]">Astro</b>
			</p>

			<section class="flex justify-center gap-4 pt-6 md:justify-start md:pt-4">
				<TooltipItem content="Linkedin" client:load>
					<a href="https://www.linkedin.com/in/marlon-suyuc/" target="_blank" rel="noreferrer">
						<Linkedin className="size-9" />
					</a>
				</TooltipItem>
				<TooltipItem content="GitHub" client:load>
					<a href="https://github.com/M-Suyuc/" rel="noreferrer" target="_blank">
						<Github className="size-9" />
					</a>
				</TooltipItem>
				<TooltipItem content="Email" client:load>
					<a href="mailto:marlonsuyuc@gmail.com" rel="noreferrer">
						<Mail className="size-9" />
					</a>
				</TooltipItem>
			</section>
		</div>
	</div>

	<img src="/hero.webp" alt="Imagen perfil" class="h-fit w-48 md:w-52 lg:w-60" />
</section>

<style>
	strong {
		animation: textAnimate 5s linear infinite;
		background-image: linear-gradient(45deg, #7028e4, #ee95d5, #7028e4);
		background-size: 200%;
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;
	}

	@keyframes textAnimate {
		0% {
			background-position: 0;
		}
		100% {
			background-position: 200%;
		}
	}
</style>
