---
import { projects } from '@/data/projects.json'
import Proyect from './Project.astro'
import type { Product } from '@/types'

const typedProjects: Product[] = projects
---

<section
	id="projects"
	class="xs:px-6 mx-auto max-w-6xl px-4 pt-4 pb-16 sm:px-8 md:pt-[3rem] lg:px-0"
>
	<h3
		class="text-primary my-12 ml-2 inline-flex w-full items-center text-2xl font-semibold opacity-85 sm:ml-0 md:text-3xl"
	>
		<span class="text-foreground/80 pr-3"> 01.</span> Some of my favorite projects
		<span class="bg-muted mt-1 ml-[0.2em] h-0.5 grow"></span>
	</h3>

	<div class="grid grid-cols-1 gap-5 md:grid-cols-2 lg:grid-cols-3">
		{
			typedProjects.map((proyect, index) => {
				return <Proyect proyect={proyect} index={index} />
			})
		}
	</div>
</section>
