---
import Footer from '@/components/Footer.astro'
import Header from '@/components/Header.astro'
import { Spotlight } from '@/components/ui/Spotlight'
import '@/styles/globals.css'

interface Props {
	title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en" class="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/avatar.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="relative overflow-x-hidden">
		<div
			class="absolute -z-10 flex min-h-screen w-full overflow-hidden bg-black/[0.96] antialiased bg-grid-white/[0.02] md:items-center md:justify-center"
		>
			<Spotlight className="b" />
		</div>

		<Header />

		<div class="space-y-36 lg:space-y-48">
			<slot />
		</div>
		<Footer />
	</body>
</html>

<style></style>
